﻿<!DOCTYPE html>
<html ng-app="TRS">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-aria.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-messages.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-material.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-cookies.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-sanitize.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/css/angular-material.min.css">
    <link rel="stylesheet" href="/css/fontawesome-5.3.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/fontawesome-5.3.1/css/solid.min.css" />

    <script src="~/js/CIMController.js" type="text/javascript"></script>
    <script src="~/js/TRS_Main.js" type="text/javascript"></script>
    <script src="~/js/moment.min.js" type="text/javascript"></script>
</head>
<body  ng-controller='CIMController as cc'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TRS", "TRSHome", "Jira", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "TRSHome", "Jira")</li>
                    <li><a href="" ng-click="refresh(ChosenProject,ChosenTask,ChosenPerson, ChosenSprint)">Refresh</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
